<!DOCTYPE html>
<html lang="ja">
<head>

    <title>備品管理システム_ホーム</title>
    
</head>
<body>
    <center>
    <div class="container">
         <h1>備品管理システム</h1>
         
       <form method="get">
         

      <button type="submit" formaction="/items">備品一覧</button>
      <button type="submit" formaction="/add_item">備品登録</button><br></br>
      <button type="submit" formaction="/import">インポート</button>
      <button type="submit" formaction="/export">エクスポート</button><br></br>
      <button type="submit" formaction="/logout">ログアウト</button>
     </form>
     
    </div>     
    </center>
        
</body>
</html>
