<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>備品管理システム_ホーム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- ヘッダーをインクルード -->
    {% include 'header.html' %}

    <div class="container">
        <form method="get">
            <div class="button-group">
                <button type="submit" formaction="/items">備品一覧</button>
                <button type="submit" formaction="/add_item">備品登録</button>
            </div>

            <div class="button-group">
                <button type="submit" formaction="/import_items">インポート</button>
                <button type="submit" formaction="/export_items">エクスポート</button>
            </div>

            <div class="button-group">
                <button type="submit" formaction="/add_user">利用者登録</button>
                <button type="submit" formaction="/delete_user">利用者削除</button>
            </div>
        </form>
    </div>

</body>
</html>
