<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>備品管理システム_ログインエラー</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- ヘッダーをインクルード -->
    {% include 'header.html' %}

    <!-- メインコンテナ -->
    <div class="container">
        <h2>ログインエラー</h2>
        <p class="item-info">ログインに失敗しました！</p>
        <p class="item-info" id="message">ユーザー名またはパスワードが正しくありません。</p>

        <form method="get" action="/login">
            <button type="submit">ログイン画面に戻る</button>
        </form>
    </div>

</body>
</html>
