<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>備品管理システム_ログイン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
  <!-- ヘッダーをインクルード -->
  {% include 'header.html' %}

    <div class="container">
        <h2>ログイン</h2>

        <form method="post" action="/login" autocomplete="off">
            <div class="form-group">
                <label for="studentID">学籍番号:</label>
                <input type="text" id="studentID" name="studentID" value="{{ studentID if errors else ''}}" autocomplete="off">
                {% if errors %}
                    <span class="error">{{ errors.studentID | default('') }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="password">パスワード:</label>
                <input type="password" id="password" name="password" value="{{ password if errors else '' }}" autocomplete="new-password">
                {% if errors %}
                    <span class="error">{{ errors.password | default('') }}</span>
                {% endif %}
            </div>

            <button type="submit">ログイン</button>
        </form>
    </div>

</body>
</html>
