<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>備品管理システム_利用者登録エラー</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- ヘッダー -->
    <header>
      <div class="header-container">
        <h1>備品管理システム テスト</h1>
        <form method="GET" action="/logout" class="logout-form">
          <button type="submit">ログアウト</button>
        </form>
      </div>
    </header>

    <!-- メインコンテナ -->
    <div class="container">
        <h2>登録エラー</h2>
        <p class="item-info">利用者登録に失敗しました！</p>

        <!-- エラーメッセージ表示 -->
        {% if errors %}
            <ul class="error">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <form method="get" action="/userregister">
            <button type="submit">利用者登録画面に戻る</button>
        </form>
    </div>

</body>
</html>
