<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>備品管理システム_利用者登録エラー</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- ヘッダーをインクルード -->
    {% include 'header.html' %}

    <!-- メインコンテナ -->
    <div class="container">
        <h2>登録エラー</h2>
        <p class="error">利用者登録に失敗しました！</p>

        {% if errors %}
          <span class="error">{{ errors | default('') }}</span>
        {% endif %}

        <div class="button-group">
            <form method="get" action="/add_user">
                <button type="submit">利用者登録画面に戻る</button>
            </form>
            <button type="button" class="cancel-btn" onclick="window.location.href='/home'">業務一覧に戻る</button>
        </div>
    </div>

</body>
</html>
