<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>P010-4 入力完了画面</title>
</head>
<body>
    <h1>P010-4 入力結果</h1>

    {% if success_files %}
        <p>以下のファイルの備品情報の登録に成功しました！</p>
        <ul>
            {% for file in success_files %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>

        <h2>登録された備品一覧</h2>
        <table border="1">
            <tr>
                <th>備品名</th>
                <th>備考</th>
                <th>カテゴリ</th>
                <th>登録者</th>
                <th>登録日</th>
            </tr>
            {% for item in imported_data %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.remark or "" }}</td>
                <td>{{ item.categories | join(",") }}</td>
                <td>{{ item.registrant_id }}</td>
                <td>{{ item.created_at }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}


    {% if failed_files %}
        <p>以下のファイルの備品情報の登録に失敗しました………</p>
        <ul>
            {% for file in failed_files %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{{ url_for('home') }}" method="GET">
        <button type="submit">ホームへ戻る</button>
    </form>
    <form action="{{ url_for('import_items') }}" method="GET">
        <button type="submit">続けてインポートする</button>
    </form>
</body>
</html>