<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>P010-4 入力完了</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
        <h2>入力結果</h2>
        
        {% if message %}
        <p>ファイル {{ filename }} のインポートを中止しました。</p>
        <p>理由: {{ message }}</p>
        {% endif %}

        {% if success_files %}
            <p>以下のファイルの備品情報の登録に成功しました！</p>
            <ul>
                {% for file in success_files %}
                    <li>{{ file }}</li>
                {% endfor %}
            </ul>

            <h3>登録された備品一覧</h3>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>備品名</th>
                        <th>備考</th>
                        <th>カテゴリ</th>
                        <th>登録者</th>
                        <th>登録日</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in imported_data %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.remark or "" }}</td>
                            <td>{{ item.categories | join(",") }}</td>
                            <td>{{ item.registrant_id }}</td>
                            <td>{{ item.created_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if failed_files %}
            <p>以下のファイルの備品情報の登録に失敗しました………</p>
            <ul>
                {% for file in failed_files %}
                    <li>{{ file }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="form-actions">
            <form action="{{ url_for('home') }}" method="GET">
                <button type="submit" class="btn-primary">ホームへ戻る</button>
            </form>
            <form action="{{ url_for('import_items') }}" method="GET">
                <button type="submit" class="btn-secondary">続けてインポートする</button>
            </form>
        </div>
    </div>
</body>
</html>
